.calendar{
	background-color: #EFEFEF;
	font-family: Helvetica, Arial;
	color:#747474;
}

	.calendar .controls{
		padding:20px 0;
		position:relative;
	}

		.calendar .controls .button{
			background:#E3E3E3;
			border:none;
			width:30px;
			height:40px;
			cursor: pointer;
		}

		.calendar .controls .previousMonth{
			position:absolute;
			left:10px;
		}

		.calendar .controls .label{
			text-align: center;
			font-size:24px;
			line-height: 40px;
			font-weight: 400;
		}

		.calendar .controls .nextMonth{
			position:absolute;
			right:10px;
		}


	.calendar .list{
		list-style: none;
		margin:0;
		padding:0;
		width:100%;
		height:100%;
	}

		.calendar .list .row{
			border-bottom:2px solid white;
		}
			.calendar .list .row:last-child{
				border-bottom: none;
			}

		.calendar .list .item{
			position:relative;
			width:7%;
			height:0;
			border-right:2px solid white;
			padding:3px 3px 10% 3px;
			background-color:transparent;
		}

		.calendar .list .item:first-child{
			border-left:none;
		}
		
		.calendar .list .item:nth-child(7n+0){
			border-right:none;
		}

		.calendar .list .item.disabled{
			background-color:#E3E3E3;
		}

		.calendar .list .item.today{
			background-color:#747474;
		}

		.calendar .list .item.selected{
			background-color:red;
		}

		.calendar .list .item.weekday{
			font-size:14px;
			line-height: 14px;
			text-align: center;
			height:20px;
			padding:0;
		}

			.calendar .list .item .date{
				position:absolute;
				right:3px;
				bottom:3px;
				font-size:12px;
				color:#747474;
			}

			.calendar .list .item.today .date{
				color:#fff;
			}

			.calendar .list .item.disabled .date{
				color:#747474;
			}